{$APP_DOMAIN} {
  encode gzip zstd

  handle /novnc/* {
    reverse_proxy browser:3001
  }

  handle /vnc-ws/* {
    reverse_proxy browser:3001
  }

  handle /slides/* {
    reverse_proxy presentation:3030
  }

  handle /slides {
    redir /slides/ permanent
  }

  handle {
    reverse_proxy web:3000
  }
}
